{% extends 'base.html' %}
{% load static %}
{% block content %}
	    <div class="container" style="margin-top: 100px">
        <div class="image">
            <img src="{% static 'img/homme.png' %}" alt="" class="profile-img">
        </div>

        <h2>Users</h2>
        <ul class="user-list">
            {% for user in users %}
                <li><a href="{% url 'chat:get_or_create_room' user.id %}" class="">{{ user.first_name|title  }} {{ user.last_name|title  }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
